<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>public.kern1.A_UC</key>
		<dict>
			<key>public.kern2.J_UC</key>
			<integer>-4</integer>
			<key>public.kern2.S_UC</key>
			<integer>5</integer>
			<key>public.kern2.T_UC</key>
			<integer>-10</integer>
			<key>public.kern2.W_UC</key>
			<integer>-30</integer>
			<key>public.kern2.Y_UC</key>
			<integer>-30</integer>
			<key>public.kern2.Z_UC</key>
			<integer>5</integer>
			<key>public.kern2.emdash</key>
			<integer>-10</integer>
			<key>public.kern2.gamma</key>
			<integer>-10</integer>
			<key>public.kern2.guillemotleft</key>
			<integer>-10</integer>
			<key>public.kern2.minute</key>
			<integer>-40</integer>
			<key>public.kern2.u_LC</key>
			<integer>-10</integer>
			<key>public.kern2.w_LC</key>
			<integer>-10</integer>
		</dict>
		<key>public.kern1.C_UC</key>
		<dict>
			<key>c</key>
			<integer>23</integer>
			<key>cacute</key>
			<integer>23</integer>
			<key>ccaron</key>
			<integer>23</integer>
			<key>ccedilla</key>
			<integer>23</integer>
			<key>ccircumflex</key>
			<integer>23</integer>
			<key>cdotaccent</key>
			<integer>23</integer>
			<key>d</key>
			<integer>23</integer>
			<key>dcaron</key>
			<integer>23</integer>
			<key>dzcaron</key>
			<integer>23</integer>
			<key>e</key>
			<integer>23</integer>
			<key>eacute</key>
			<integer>23</integer>
			<key>ebreve</key>
			<integer>23</integer>
			<key>ecaron</key>
			<integer>23</integer>
			<key>ecircumflex</key>
			<integer>23</integer>
			<key>ecircumflexacute</key>
			<integer>23</integer>
			<key>ecircumflexdotbelow</key>
			<integer>23</integer>
			<key>ecircumflexgrave</key>
			<integer>23</integer>
			<key>ecircumflexhookabove</key>
			<integer>23</integer>
			<key>ecircumflextilde</key>
			<integer>23</integer>
			<key>edblgrave</key>
			<integer>23</integer>
			<key>edieresis</key>
			<integer>23</integer>
			<key>edotaccent</key>
			<integer>23</integer>
			<key>edotbelow</key>
			<integer>23</integer>
			<key>egrave</key>
			<integer>23</integer>
			<key>ehookabove</key>
			<integer>23</integer>
			<key>einvertedbreve</key>
			<integer>23</integer>
			<key>emacron</key>
			<integer>23</integer>
			<key>eogonek</key>
			<integer>23</integer>
			<key>etilde</key>
			<integer>23</integer>
			<key>g</key>
			<integer>23</integer>
			<key>gbreve</key>
			<integer>23</integer>
			<key>gcaron</key>
			<integer>23</integer>
			<key>gcircumflex</key>
			<integer>23</integer>
			<key>gcommaaccent</key>
			<integer>23</integer>
			<key>gdotaccent</key>
			<integer>23</integer>
			<key>oe</key>
			<integer>23</integer>
			<key>ohorn</key>
			<integer>23</integer>
			<key>ohornacute</key>
			<integer>23</integer>
			<key>ohorndotbelow</key>
			<integer>23</integer>
			<key>ohorngrave</key>
			<integer>23</integer>
			<key>ohornhookabove</key>
			<integer>23</integer>
			<key>public.kern2.AE_UC</key>
			<integer>10</integer>
			<key>public.kern2.A_UC</key>
			<integer>10</integer>
			<key>public.kern2.CG_UC</key>
			<integer>9</integer>
			<key>public.kern2.J_UC</key>
			<integer>6</integer>
			<key>public.kern2.S_UC</key>
			<integer>15</integer>
			<key>public.kern2.W_UC</key>
			<integer>10</integer>
			<key>public.kern2.Y_UC</key>
			<integer>10</integer>
			<key>public.kern2.Z_UC</key>
			<integer>10</integer>
			<key>public.kern2.a_LC</key>
			<integer>16</integer>
			<key>public.kern2.bhk_LC</key>
			<integer>15</integer>
			<key>public.kern2.copyright</key>
			<integer>10</integer>
			<key>public.kern2.f_LC</key>
			<integer>20</integer>
			<key>public.kern2.gamma</key>
			<integer>20</integer>
			<key>public.kern2.guillemotleft</key>
			<integer>8</integer>
			<key>public.kern2.guillemotright</key>
			<integer>10</integer>
			<key>public.kern2.i_LC</key>
			<integer>20</integer>
			<key>public.kern2.minute</key>
			<integer>8</integer>
			<key>public.kern2.mnpr_LC</key>
			<integer>12</integer>
			<key>public.kern2.o_LC</key>
			<integer>18</integer>
			<key>public.kern2.parens</key>
			<integer>10</integer>
			<key>public.kern2.s_LC</key>
			<integer>17</integer>
			<key>public.kern2.t_LC</key>
			<integer>20</integer>
			<key>public.kern2.u_LC</key>
			<integer>12</integer>
			<key>public.kern2.w_LC</key>
			<integer>20</integer>
			<key>public.kern2.z_LC</key>
			<integer>10</integer>
			<key>q</key>
			<integer>23</integer>
		</dict>
		<key>public.kern1.D_UC</key>
		<dict>
			<key>c</key>
			<integer>10</integer>
			<key>cacute</key>
			<integer>10</integer>
			<key>ccaron</key>
			<integer>10</integer>
			<key>ccedilla</key>
			<integer>10</integer>
			<key>ccircumflex</key>
			<integer>10</integer>
			<key>cdotaccent</key>
			<integer>10</integer>
			<key>d</key>
			<integer>10</integer>
			<key>dcaron</key>
			<integer>10</integer>
			<key>dzcaron</key>
			<integer>10</integer>
			<key>e</key>
			<integer>10</integer>
			<key>eacute</key>
			<integer>10</integer>
			<key>ebreve</key>
			<integer>10</integer>
			<key>ecaron</key>
			<integer>10</integer>
			<key>ecircumflex</key>
			<integer>10</integer>
			<key>ecircumflexacute</key>
			<integer>10</integer>
			<key>ecircumflexdotbelow</key>
			<integer>10</integer>
			<key>ecircumflexgrave</key>
			<integer>10</integer>
			<key>ecircumflexhookabove</key>
			<integer>10</integer>
			<key>ecircumflextilde</key>
			<integer>10</integer>
			<key>edblgrave</key>
			<integer>10</integer>
			<key>edieresis</key>
			<integer>10</integer>
			<key>edotaccent</key>
			<integer>10</integer>
			<key>edotbelow</key>
			<integer>10</integer>
			<key>egrave</key>
			<integer>10</integer>
			<key>ehookabove</key>
			<integer>10</integer>
			<key>einvertedbreve</key>
			<integer>10</integer>
			<key>emacron</key>
			<integer>10</integer>
			<key>eogonek</key>
			<integer>10</integer>
			<key>etilde</key>
			<integer>10</integer>
			<key>g</key>
			<integer>10</integer>
			<key>gbreve</key>
			<integer>10</integer>
			<key>gcaron</key>
			<integer>10</integer>
			<key>gcircumflex</key>
			<integer>10</integer>
			<key>gcommaaccent</key>
			<integer>10</integer>
			<key>gdotaccent</key>
			<integer>10</integer>
			<key>oe</key>
			<integer>10</integer>
			<key>ohorn</key>
			<integer>10</integer>
			<key>ohornacute</key>
			<integer>10</integer>
			<key>ohorndotbelow</key>
			<integer>10</integer>
			<key>ohorngrave</key>
			<integer>10</integer>
			<key>ohornhookabove</key>
			<integer>10</integer>
			<key>public.kern2.S_UC</key>
			<integer>5</integer>
			<key>public.kern2.a_LC</key>
			<integer>8</integer>
			<key>public.kern2.bhk_LC</key>
			<integer>10</integer>
			<key>public.kern2.comma</key>
			<integer>-10</integer>
			<key>public.kern2.f_LC</key>
			<integer>10</integer>
			<key>public.kern2.gamma</key>
			<integer>10</integer>
			<key>public.kern2.i_LC</key>
			<integer>10</integer>
			<key>public.kern2.o_LC</key>
			<integer>10</integer>
			<key>public.kern2.s_LC</key>
			<integer>10</integer>
			<key>public.kern2.t_LC</key>
			<integer>10</integer>
			<key>public.kern2.w_LC</key>
			<integer>10</integer>
			<key>q</key>
			<integer>10</integer>
		</dict>
		<key>public.kern1.E_UC</key>
		<dict>
			<key>public.kern2.J_UC</key>
			<integer>-3</integer>
			<key>public.kern2.S_UC</key>
			<integer>6</integer>
			<key>public.kern2.W_UC</key>
			<integer>10</integer>
			<key>public.kern2.Y_UC</key>
			<integer>10</integer>
			<key>public.kern2.comma</key>
			<integer>10</integer>
			<key>public.kern2.parens</key>
			<integer>10</integer>
		</dict>
		<key>public.kern1.G_UC</key>
		<dict>
			<key>public.kern2.AE_UC</key>
			<integer>-7</integer>
			<key>public.kern2.A_UC</key>
			<integer>-7</integer>
			<key>public.kern2.S_UC</key>
			<integer>6</integer>
			<key>public.kern2.W_UC</key>
			<integer>-7</integer>
			<key>public.kern2.Y_UC</key>
			<integer>-7</integer>
			<key>public.kern2.comma</key>
			<integer>-20</integer>
			<key>public.kern2.parens</key>
			<integer>-8</integer>
		</dict>
		<key>public.kern1.JU_UC</key>
		<dict>
			<key>public.kern2.AE_UC</key>
			<integer>-10</integer>
			<key>public.kern2.A_UC</key>
			<integer>-10</integer>
			<key>public.kern2.S_UC</key>
			<integer>5</integer>
			<key>public.kern2.comma</key>
			<integer>-10</integer>
		</dict>
		<key>public.kern1.K_UC</key>
		<dict>
			<key>public.kern2.CG_UC</key>
			<integer>-10</integer>
			<key>public.kern2.J_UC</key>
			<integer>-10</integer>
			<key>public.kern2.S_UC</key>
			<integer>-5</integer>
			<key>public.kern2.T_UC</key>
			<integer>10</integer>
			<key>public.kern2.a_LC</key>
			<integer>-5</integer>
			<key>public.kern2.emdash</key>
			<integer>-60</integer>
			<key>public.kern2.gamma</key>
			<integer>-20</integer>
			<key>public.kern2.guillemotleft</key>
			<integer>-50</integer>
			<key>public.kern2.t_LC</key>
			<integer>-30</integer>
			<key>public.kern2.u_LC</key>
			<integer>-10</integer>
			<key>public.kern2.w_LC</key>
			<integer>-20</integer>
		</dict>
		<key>public.kern1.L_UC</key>
		<dict>
			<key>public.kern2.AE_UC</key>
			<integer>10</integer>
			<key>public.kern2.A_UC</key>
			<integer>10</integer>
			<key>public.kern2.CG_UC</key>
			<integer>6</integer>
			<key>public.kern2.S_UC</key>
			<integer>5</integer>
			<key>public.kern2.T_UC</key>
			<integer>-10</integer>
			<key>public.kern2.U_UC</key>
			<integer>-4</integer>
			<key>public.kern2.W_UC</key>
			<integer>-20</integer>
			<key>public.kern2.Y_UC</key>
			<integer>-20</integer>
			<key>public.kern2.comma</key>
			<integer>10</integer>
			<key>public.kern2.emdash</key>
			<integer>-30</integer>
			<key>public.kern2.gamma</key>
			<integer>-20</integer>
			<key>public.kern2.guillemotleft</key>
			<integer>-20</integer>
			<key>public.kern2.w_LC</key>
			<integer>-20</integer>
		</dict>
		<key>public.kern1.R_UC</key>
		<dict>
			<key>public.kern2.J_UC</key>
			<integer>-5</integer>
			<key>public.kern2.W_UC</key>
			<integer>-25</integer>
			<key>public.kern2.Y_UC</key>
			<integer>-25</integer>
			<key>public.kern2.emdash</key>
			<integer>-10</integer>
			<key>public.kern2.guillemotleft</key>
			<integer>-40</integer>
			<key>public.kern2.minute</key>
			<integer>-15</integer>
			<key>public.kern2.parens</key>
			<integer>-15</integer>
			<key>public.kern2.u_LC</key>
			<integer>-10</integer>
		</dict>
		<key>public.kern1.S_UC</key>
		<dict>
			<key>c</key>
			<integer>20</integer>
			<key>cacute</key>
			<integer>20</integer>
			<key>ccaron</key>
			<integer>20</integer>
			<key>ccedilla</key>
			<integer>20</integer>
			<key>ccircumflex</key>
			<integer>20</integer>
			<key>cdotaccent</key>
			<integer>20</integer>
			<key>d</key>
			<integer>20</integer>
			<key>dcaron</key>
			<integer>20</integer>
			<key>dzcaron</key>
			<integer>20</integer>
			<key>e</key>
			<integer>20</integer>
			<key>eacute</key>
			<integer>20</integer>
			<key>ebreve</key>
			<integer>20</integer>
			<key>ecaron</key>
			<integer>20</integer>
			<key>ecircumflex</key>
			<integer>20</integer>
			<key>ecircumflexacute</key>
			<integer>20</integer>
			<key>ecircumflexdotbelow</key>
			<integer>20</integer>
			<key>ecircumflexgrave</key>
			<integer>20</integer>
			<key>ecircumflexhookabove</key>
			<integer>20</integer>
			<key>ecircumflextilde</key>
			<integer>20</integer>
			<key>edblgrave</key>
			<integer>20</integer>
			<key>edieresis</key>
			<integer>20</integer>
			<key>edotaccent</key>
			<integer>20</integer>
			<key>edotbelow</key>
			<integer>20</integer>
			<key>egrave</key>
			<integer>20</integer>
			<key>ehookabove</key>
			<integer>20</integer>
			<key>einvertedbreve</key>
			<integer>20</integer>
			<key>emacron</key>
			<integer>20</integer>
			<key>eogonek</key>
			<integer>20</integer>
			<key>etilde</key>
			<integer>20</integer>
			<key>g</key>
			<integer>20</integer>
			<key>gbreve</key>
			<integer>20</integer>
			<key>gcaron</key>
			<integer>20</integer>
			<key>gcircumflex</key>
			<integer>20</integer>
			<key>gcommaaccent</key>
			<integer>20</integer>
			<key>gdotaccent</key>
			<integer>20</integer>
			<key>oe</key>
			<integer>20</integer>
			<key>ohorn</key>
			<integer>20</integer>
			<key>ohornacute</key>
			<integer>20</integer>
			<key>ohorndotbelow</key>
			<integer>20</integer>
			<key>ohorngrave</key>
			<integer>20</integer>
			<key>ohornhookabove</key>
			<integer>20</integer>
			<key>public.kern2.AE_UC</key>
			<integer>5</integer>
			<key>public.kern2.A_UC</key>
			<integer>5</integer>
			<key>public.kern2.CG_UC</key>
			<integer>10</integer>
			<key>public.kern2.J_UC</key>
			<integer>10</integer>
			<key>public.kern2.S_UC</key>
			<integer>20</integer>
			<key>public.kern2.T_UC</key>
			<integer>10</integer>
			<key>public.kern2.Z_UC</key>
			<integer>10</integer>
			<key>public.kern2.a_LC</key>
			<integer>20</integer>
			<key>public.kern2.bhk_LC</key>
			<integer>20</integer>
			<key>public.kern2.comma</key>
			<integer>-5</integer>
			<key>public.kern2.copyright</key>
			<integer>5</integer>
			<key>public.kern2.f_LC</key>
			<integer>20</integer>
			<key>public.kern2.gamma</key>
			<integer>20</integer>
			<key>public.kern2.guillemotleft</key>
			<integer>10</integer>
			<key>public.kern2.guillemotright</key>
			<integer>10</integer>
			<key>public.kern2.i_LC</key>
			<integer>20</integer>
			<key>public.kern2.minute</key>
			<integer>10</integer>
			<key>public.kern2.mnpr_LC</key>
			<integer>10</integer>
			<key>public.kern2.o_LC</key>
			<integer>20</integer>
			<key>public.kern2.s_LC</key>
			<integer>20</integer>
			<key>public.kern2.t_LC</key>
			<integer>20</integer>
			<key>public.kern2.u_LC</key>
			<integer>10</integer>
			<key>public.kern2.w_LC</key>
			<integer>20</integer>
			<key>public.kern2.z_LC</key>
			<integer>10</integer>
			<key>q</key>
			<integer>20</integer>
		</dict>
		<key>public.kern1.T_UC</key>
		<dict>
			<key>c</key>
			<integer>-30</integer>
			<key>cacute</key>
			<integer>-30</integer>
			<key>ccaron</key>
			<integer>-30</integer>
			<key>ccedilla</key>
			<integer>-30</integer>
			<key>ccircumflex</key>
			<integer>-30</integer>
			<key>cdotaccent</key>
			<integer>-30</integer>
			<key>d</key>
			<integer>-30</integer>
			<key>dcaron</key>
			<integer>-30</integer>
			<key>dzcaron</key>
			<integer>-30</integer>
			<key>e</key>
			<integer>-30</integer>
			<key>eacute</key>
			<integer>-30</integer>
			<key>ebreve</key>
			<integer>-30</integer>
			<key>ecaron</key>
			<integer>-30</integer>
			<key>ecircumflex</key>
			<integer>-30</integer>
			<key>ecircumflexacute</key>
			<integer>-30</integer>
			<key>ecircumflexdotbelow</key>
			<integer>-30</integer>
			<key>ecircumflexgrave</key>
			<integer>-30</integer>
			<key>ecircumflexhookabove</key>
			<integer>-30</integer>
			<key>ecircumflextilde</key>
			<integer>-30</integer>
			<key>edblgrave</key>
			<integer>-30</integer>
			<key>edieresis</key>
			<integer>-30</integer>
			<key>edotaccent</key>
			<integer>-30</integer>
			<key>edotbelow</key>
			<integer>-30</integer>
			<key>egrave</key>
			<integer>-30</integer>
			<key>ehookabove</key>
			<integer>-30</integer>
			<key>einvertedbreve</key>
			<integer>-30</integer>
			<key>emacron</key>
			<integer>-30</integer>
			<key>eogonek</key>
			<integer>-30</integer>
			<key>etilde</key>
			<integer>-30</integer>
			<key>g</key>
			<integer>-30</integer>
			<key>gbreve</key>
			<integer>-30</integer>
			<key>gcaron</key>
			<integer>-30</integer>
			<key>gcircumflex</key>
			<integer>-30</integer>
			<key>gcommaaccent</key>
			<integer>-30</integer>
			<key>gdotaccent</key>
			<integer>-30</integer>
			<key>oe</key>
			<integer>-30</integer>
			<key>ohorn</key>
			<integer>-30</integer>
			<key>ohornacute</key>
			<integer>-30</integer>
			<key>ohorndotbelow</key>
			<integer>-30</integer>
			<key>ohorngrave</key>
			<integer>-30</integer>
			<key>ohornhookabove</key>
			<integer>-30</integer>
			<key>public.kern2.AE_UC</key>
			<integer>-10</integer>
			<key>public.kern2.A_UC</key>
			<integer>-10</integer>
			<key>public.kern2.J_UC</key>
			<integer>-30</integer>
			<key>public.kern2.a_LC</key>
			<integer>-30</integer>
			<key>public.kern2.colon</key>
			<integer>-20</integer>
			<key>public.kern2.comma</key>
			<integer>-30</integer>
			<key>public.kern2.emdash</key>
			<integer>-10</integer>
			<key>public.kern2.gamma</key>
			<integer>-30</integer>
			<key>public.kern2.guillemotleft</key>
			<integer>-20</integer>
			<key>public.kern2.guillemotright</key>
			<integer>-10</integer>
			<key>public.kern2.i_LC</key>
			<integer>-40</integer>
			<key>public.kern2.mnpr_LC</key>
			<integer>-40</integer>
			<key>public.kern2.o_LC</key>
			<integer>-30</integer>
			<key>public.kern2.parens</key>
			<integer>20</integer>
			<key>public.kern2.s_LC</key>
			<integer>-30</integer>
			<key>public.kern2.u_LC</key>
			<integer>-40</integer>
			<key>public.kern2.w_LC</key>
			<integer>-30</integer>
			<key>public.kern2.z_LC</key>
			<integer>-30</integer>
			<key>q</key>
			<integer>-30</integer>
		</dict>
		<key>public.kern1.W_UC</key>
		<dict>
			<key>c</key>
			<integer>-14</integer>
			<key>cacute</key>
			<integer>-14</integer>
			<key>ccaron</key>
			<integer>-14</integer>
			<key>ccedilla</key>
			<integer>-14</integer>
			<key>ccircumflex</key>
			<integer>-14</integer>
			<key>cdotaccent</key>
			<integer>-14</integer>
			<key>d</key>
			<integer>-14</integer>
			<key>dcaron</key>
			<integer>-14</integer>
			<key>dzcaron</key>
			<integer>-14</integer>
			<key>e</key>
			<integer>-14</integer>
			<key>eacute</key>
			<integer>-14</integer>
			<key>ebreve</key>
			<integer>-14</integer>
			<key>ecaron</key>
			<integer>-14</integer>
			<key>ecircumflex</key>
			<integer>-14</integer>
			<key>ecircumflexacute</key>
			<integer>-14</integer>
			<key>ecircumflexdotbelow</key>
			<integer>-14</integer>
			<key>ecircumflexgrave</key>
			<integer>-14</integer>
			<key>ecircumflexhookabove</key>
			<integer>-14</integer>
			<key>ecircumflextilde</key>
			<integer>-14</integer>
			<key>edblgrave</key>
			<integer>-14</integer>
			<key>edieresis</key>
			<integer>-14</integer>
			<key>edotaccent</key>
			<integer>-14</integer>
			<key>edotbelow</key>
			<integer>-14</integer>
			<key>egrave</key>
			<integer>-14</integer>
			<key>ehookabove</key>
			<integer>-14</integer>
			<key>einvertedbreve</key>
			<integer>-14</integer>
			<key>emacron</key>
			<integer>-14</integer>
			<key>eogonek</key>
			<integer>-14</integer>
			<key>etilde</key>
			<integer>-14</integer>
			<key>g</key>
			<integer>-14</integer>
			<key>gbreve</key>
			<integer>-14</integer>
			<key>gcaron</key>
			<integer>-14</integer>
			<key>gcircumflex</key>
			<integer>-14</integer>
			<key>gcommaaccent</key>
			<integer>-14</integer>
			<key>gdotaccent</key>
			<integer>-14</integer>
			<key>oe</key>
			<integer>-14</integer>
			<key>ohorn</key>
			<integer>-14</integer>
			<key>ohornacute</key>
			<integer>-14</integer>
			<key>ohorndotbelow</key>
			<integer>-14</integer>
			<key>ohorngrave</key>
			<integer>-14</integer>
			<key>ohornhookabove</key>
			<integer>-14</integer>
			<key>public.kern2.AE_UC</key>
			<integer>-30</integer>
			<key>public.kern2.A_UC</key>
			<integer>-30</integer>
			<key>public.kern2.J_UC</key>
			<integer>-20</integer>
			<key>public.kern2.a_LC</key>
			<integer>-21</integer>
			<key>public.kern2.colon</key>
			<integer>-10</integer>
			<key>public.kern2.comma</key>
			<integer>-50</integer>
			<key>public.kern2.emdash</key>
			<integer>-10</integer>
			<key>public.kern2.gamma</key>
			<integer>-10</integer>
			<key>public.kern2.guillemotleft</key>
			<integer>-10</integer>
			<key>public.kern2.guillemotright</key>
			<integer>-10</integer>
			<key>public.kern2.mnpr_LC</key>
			<integer>-20</integer>
			<key>public.kern2.o_LC</key>
			<integer>-14</integer>
			<key>public.kern2.s_LC</key>
			<integer>-14</integer>
			<key>public.kern2.u_LC</key>
			<integer>-20</integer>
			<key>public.kern2.w_LC</key>
			<integer>-10</integer>
			<key>q</key>
			<integer>-14</integer>
		</dict>
		<key>public.kern1.Y_UC</key>
		<dict>
			<key>c</key>
			<integer>-25</integer>
			<key>cacute</key>
			<integer>-25</integer>
			<key>ccaron</key>
			<integer>-25</integer>
			<key>ccedilla</key>
			<integer>-25</integer>
			<key>ccircumflex</key>
			<integer>-25</integer>
			<key>cdotaccent</key>
			<integer>-25</integer>
			<key>d</key>
			<integer>-25</integer>
			<key>dcaron</key>
			<integer>-25</integer>
			<key>dzcaron</key>
			<integer>-25</integer>
			<key>e</key>
			<integer>-25</integer>
			<key>eacute</key>
			<integer>-25</integer>
			<key>ebreve</key>
			<integer>-25</integer>
			<key>ecaron</key>
			<integer>-25</integer>
			<key>ecircumflex</key>
			<integer>-25</integer>
			<key>ecircumflexacute</key>
			<integer>-25</integer>
			<key>ecircumflexdotbelow</key>
			<integer>-25</integer>
			<key>ecircumflexgrave</key>
			<integer>-25</integer>
			<key>ecircumflexhookabove</key>
			<integer>-25</integer>
			<key>ecircumflextilde</key>
			<integer>-25</integer>
			<key>edblgrave</key>
			<integer>-25</integer>
			<key>edieresis</key>
			<integer>-25</integer>
			<key>edotaccent</key>
			<integer>-25</integer>
			<key>edotbelow</key>
			<integer>-25</integer>
			<key>egrave</key>
			<integer>-25</integer>
			<key>ehookabove</key>
			<integer>-25</integer>
			<key>einvertedbreve</key>
			<integer>-25</integer>
			<key>emacron</key>
			<integer>-25</integer>
			<key>eogonek</key>
			<integer>-25</integer>
			<key>etilde</key>
			<integer>-25</integer>
			<key>g</key>
			<integer>-25</integer>
			<key>gbreve</key>
			<integer>-25</integer>
			<key>gcaron</key>
			<integer>-25</integer>
			<key>gcircumflex</key>
			<integer>-25</integer>
			<key>gcommaaccent</key>
			<integer>-25</integer>
			<key>gdotaccent</key>
			<integer>-25</integer>
			<key>oe</key>
			<integer>-25</integer>
			<key>ohorn</key>
			<integer>-25</integer>
			<key>ohornacute</key>
			<integer>-25</integer>
			<key>ohorndotbelow</key>
			<integer>-25</integer>
			<key>ohorngrave</key>
			<integer>-25</integer>
			<key>ohornhookabove</key>
			<integer>-25</integer>
			<key>public.kern2.AE_UC</key>
			<integer>-30</integer>
			<key>public.kern2.A_UC</key>
			<integer>-30</integer>
			<key>public.kern2.J_UC</key>
			<integer>-47</integer>
			<key>public.kern2.a_LC</key>
			<integer>-30</integer>
			<key>public.kern2.colon</key>
			<integer>-20</integer>
			<key>public.kern2.comma</key>
			<integer>-40</integer>
			<key>public.kern2.emdash</key>
			<integer>-20</integer>
			<key>public.kern2.gamma</key>
			<integer>-25</integer>
			<key>public.kern2.guillemotleft</key>
			<integer>-30</integer>
			<key>public.kern2.guillemotright</key>
			<integer>-10</integer>
			<key>public.kern2.mnpr_LC</key>
			<integer>-35</integer>
			<key>public.kern2.o_LC</key>
			<integer>-25</integer>
			<key>public.kern2.s_LC</key>
			<integer>-28</integer>
			<key>public.kern2.u_LC</key>
			<integer>-35</integer>
			<key>public.kern2.w_LC</key>
			<integer>-25</integer>
			<key>public.kern2.z_LC</key>
			<integer>-25</integer>
			<key>q</key>
			<integer>-25</integer>
		</dict>
		<key>public.kern1.Z_UC</key>
		<dict>
			<key>public.kern2.A_UC</key>
			<integer>2</integer>
			<key>public.kern2.Y_UC</key>
			<integer>10</integer>
			<key>public.kern2.emdash</key>
			<integer>-30</integer>
			<key>public.kern2.guillemotleft</key>
			<integer>-40</integer>
			<key>public.kern2.guillemotright</key>
			<integer>-10</integer>
		</dict>
		<key>public.kern1.a_LC</key>
		<dict>
			<key>public.kern2.quotes_curly_right</key>
			<integer>-40</integer>
		</dict>
		<key>public.kern1.b_LC</key>
		<dict>
			<key>public.kern2.comma</key>
			<integer>-10</integer>
			<key>public.kern2.quotes_curly_right</key>
			<integer>-40</integer>
		</dict>
		<key>public.kern1.c_LC</key>
		<dict>
			<key>public.kern2.colon</key>
			<integer>4</integer>
			<key>public.kern2.copyright</key>
			<integer>5</integer>
			<key>public.kern2.emdash</key>
			<integer>4</integer>
			<key>public.kern2.minute</key>
			<integer>4</integer>
			<key>public.kern2.quotes_curly_right</key>
			<integer>-40</integer>
		</dict>
		<key>public.kern1.colon</key>
		<dict>
			<key>public.kern2.T_UC</key>
			<integer>-20</integer>
			<key>public.kern2.W_UC</key>
			<integer>-10</integer>
			<key>public.kern2.Y_UC</key>
			<integer>-20</integer>
		</dict>
		<key>public.kern1.comma</key>
		<dict>
			<key>c</key>
			<integer>-10</integer>
			<key>cacute</key>
			<integer>-10</integer>
			<key>ccaron</key>
			<integer>-10</integer>
			<key>ccedilla</key>
			<integer>-10</integer>
			<key>ccircumflex</key>
			<integer>-10</integer>
			<key>cdotaccent</key>
			<integer>-10</integer>
			<key>d</key>
			<integer>-10</integer>
			<key>dcaron</key>
			<integer>-10</integer>
			<key>dzcaron</key>
			<integer>-10</integer>
			<key>e</key>
			<integer>-10</integer>
			<key>eacute</key>
			<integer>-10</integer>
			<key>ebreve</key>
			<integer>-10</integer>
			<key>ecaron</key>
			<integer>-10</integer>
			<key>ecircumflex</key>
			<integer>-10</integer>
			<key>ecircumflexacute</key>
			<integer>-10</integer>
			<key>ecircumflexdotbelow</key>
			<integer>-10</integer>
			<key>ecircumflexgrave</key>
			<integer>-10</integer>
			<key>ecircumflexhookabove</key>
			<integer>-10</integer>
			<key>ecircumflextilde</key>
			<integer>-10</integer>
			<key>edblgrave</key>
			<integer>-10</integer>
			<key>edieresis</key>
			<integer>-10</integer>
			<key>edotaccent</key>
			<integer>-10</integer>
			<key>edotbelow</key>
			<integer>-10</integer>
			<key>egrave</key>
			<integer>-10</integer>
			<key>ehookabove</key>
			<integer>-10</integer>
			<key>einvertedbreve</key>
			<integer>-10</integer>
			<key>emacron</key>
			<integer>-10</integer>
			<key>eogonek</key>
			<integer>-10</integer>
			<key>etilde</key>
			<integer>-10</integer>
			<key>g</key>
			<integer>-10</integer>
			<key>gbreve</key>
			<integer>-10</integer>
			<key>gcaron</key>
			<integer>-10</integer>
			<key>gcircumflex</key>
			<integer>-10</integer>
			<key>gcommaaccent</key>
			<integer>-10</integer>
			<key>gdotaccent</key>
			<integer>-10</integer>
			<key>oe</key>
			<integer>-10</integer>
			<key>ohorn</key>
			<integer>-10</integer>
			<key>ohornacute</key>
			<integer>-10</integer>
			<key>ohorndotbelow</key>
			<integer>-10</integer>
			<key>ohorngrave</key>
			<integer>-10</integer>
			<key>ohornhookabove</key>
			<integer>-10</integer>
			<key>public.kern2.CG_UC</key>
			<integer>-10</integer>
			<key>public.kern2.J_UC</key>
			<integer>-15</integer>
			<key>public.kern2.S_UC</key>
			<integer>-5</integer>
			<key>public.kern2.T_UC</key>
			<integer>-30</integer>
			<key>public.kern2.U_UC</key>
			<integer>-20</integer>
			<key>public.kern2.W_UC</key>
			<integer>-50</integer>
			<key>public.kern2.Y_UC</key>
			<integer>-40</integer>
			<key>public.kern2.a_LC</key>
			<integer>-10</integer>
			<key>public.kern2.f_LC</key>
			<integer>-10</integer>
			<key>public.kern2.gamma</key>
			<integer>-40</integer>
			<key>public.kern2.o_LC</key>
			<integer>-10</integer>
			<key>public.kern2.s_LC</key>
			<integer>-10</integer>
			<key>public.kern2.t_LC</key>
			<integer>-38</integer>
			<key>public.kern2.u_LC</key>
			<integer>-10</integer>
			<key>public.kern2.w_LC</key>
			<integer>-40</integer>
			<key>public.kern2.z_LC</key>
			<integer>20</integer>
			<key>q</key>
			<integer>-10</integer>
		</dict>
		<key>public.kern1.copyright</key>
		<dict>
			<key>public.kern2.S_UC</key>
			<integer>5</integer>
			<key>public.kern2.f_LC</key>
			<integer>30</integer>
			<key>public.kern2.t_LC</key>
			<integer>20</integer>
		</dict>
		<key>public.kern1.e_LC</key>
		<dict>
			<key>public.kern2.comma</key>
			<integer>-10</integer>
			<key>public.kern2.quotes_curly_right</key>
			<integer>-40</integer>
		</dict>
		<key>public.kern1.emdash</key>
		<dict>
			<key>public.kern2.A_UC</key>
			<integer>-10</integer>
			<key>public.kern2.T_UC</key>
			<integer>-10</integer>
			<key>public.kern2.W_UC</key>
			<integer>-10</integer>
			<key>public.kern2.Y_UC</key>
			<integer>-20</integer>
			<key>public.kern2.z_LC</key>
			<integer>-20</integer>
		</dict>
		<key>public.kern1.f_LC</key>
		<dict>
			<key>c</key>
			<integer>10</integer>
			<key>cacute</key>
			<integer>10</integer>
			<key>ccaron</key>
			<integer>10</integer>
			<key>ccedilla</key>
			<integer>10</integer>
			<key>ccircumflex</key>
			<integer>10</integer>
			<key>cdotaccent</key>
			<integer>10</integer>
			<key>d</key>
			<integer>10</integer>
			<key>dcaron</key>
			<integer>10</integer>
			<key>dzcaron</key>
			<integer>10</integer>
			<key>e</key>
			<integer>10</integer>
			<key>eacute</key>
			<integer>10</integer>
			<key>ebreve</key>
			<integer>10</integer>
			<key>ecaron</key>
			<integer>10</integer>
			<key>ecircumflex</key>
			<integer>10</integer>
			<key>ecircumflexacute</key>
			<integer>10</integer>
			<key>ecircumflexdotbelow</key>
			<integer>10</integer>
			<key>ecircumflexgrave</key>
			<integer>10</integer>
			<key>ecircumflexhookabove</key>
			<integer>10</integer>
			<key>ecircumflextilde</key>
			<integer>10</integer>
			<key>edblgrave</key>
			<integer>10</integer>
			<key>edieresis</key>
			<integer>10</integer>
			<key>edotaccent</key>
			<integer>10</integer>
			<key>edotbelow</key>
			<integer>10</integer>
			<key>egrave</key>
			<integer>10</integer>
			<key>ehookabove</key>
			<integer>10</integer>
			<key>einvertedbreve</key>
			<integer>10</integer>
			<key>emacron</key>
			<integer>10</integer>
			<key>eogonek</key>
			<integer>10</integer>
			<key>etilde</key>
			<integer>10</integer>
			<key>g</key>
			<integer>10</integer>
			<key>gbreve</key>
			<integer>10</integer>
			<key>gcaron</key>
			<integer>10</integer>
			<key>gcircumflex</key>
			<integer>10</integer>
			<key>gcommaaccent</key>
			<integer>10</integer>
			<key>gdotaccent</key>
			<integer>10</integer>
			<key>oe</key>
			<integer>10</integer>
			<key>ohorn</key>
			<integer>10</integer>
			<key>ohornacute</key>
			<integer>10</integer>
			<key>ohorndotbelow</key>
			<integer>10</integer>
			<key>ohorngrave</key>
			<integer>10</integer>
			<key>ohornhookabove</key>
			<integer>10</integer>
			<key>public.kern2.a_LC</key>
			<integer>10</integer>
			<key>public.kern2.comma</key>
			<integer>-10</integer>
			<key>public.kern2.copyright</key>
			<integer>40</integer>
			<key>public.kern2.gamma</key>
			<integer>10</integer>
			<key>public.kern2.guillemotright</key>
			<integer>40</integer>
			<key>public.kern2.minute</key>
			<integer>57</integer>
			<key>public.kern2.o_LC</key>
			<integer>10</integer>
			<key>public.kern2.parens</key>
			<integer>80</integer>
			<key>public.kern2.quotes_curly_left</key>
			<integer>80</integer>
			<key>public.kern2.quotes_curly_right</key>
			<integer>30</integer>
			<key>public.kern2.s_LC</key>
			<integer>20</integer>
			<key>public.kern2.t_LC</key>
			<integer>10</integer>
			<key>public.kern2.w_LC</key>
			<integer>10</integer>
			<key>public.kern2.z_LC</key>
			<integer>10</integer>
			<key>q</key>
			<integer>10</integer>
		</dict>
		<key>public.kern1.gamma</key>
		<dict>
			<key>public.kern2.comma</key>
			<integer>-40</integer>
			<key>public.kern2.quotes_curly_left</key>
			<integer>20</integer>
			<key>public.kern2.quotes_curly_right</key>
			<integer>-20</integer>
		</dict>
		<key>public.kern1.guillemotleft</key>
		<dict>
			<key>public.kern2.T_UC</key>
			<integer>-10</integer>
			<key>public.kern2.W_UC</key>
			<integer>-10</integer>
			<key>public.kern2.Y_UC</key>
			<integer>-10</integer>
			<key>public.kern2.Z_UC</key>
			<integer>20</integer>
			<key>public.kern2.f_LC</key>
			<integer>20</integer>
			<key>public.kern2.t_LC</key>
			<integer>10</integer>
		</dict>
		<key>public.kern1.guillemotright</key>
		<dict>
			<key>public.kern2.A_UC</key>
			<integer>-10</integer>
			<key>public.kern2.T_UC</key>
			<integer>-20</integer>
			<key>public.kern2.W_UC</key>
			<integer>-10</integer>
			<key>public.kern2.Y_UC</key>
			<integer>-30</integer>
			<key>public.kern2.z_LC</key>
			<integer>-10</integer>
		</dict>
		<key>public.kern1.hmn_LC</key>
		<dict>
			<key>public.kern2.quotes_curly_right</key>
			<integer>-40</integer>
		</dict>
		<key>public.kern1.i_LC</key>
		<dict>
			<key>public.kern2.quotes_curly_left</key>
			<integer>10</integer>
		</dict>
		<key>public.kern1.j_LC</key>
		<dict>
			<key>public.kern2.quotes_curly_left</key>
			<integer>10</integer>
		</dict>
		<key>public.kern1.k_LC</key>
		<dict>
			<key>public.kern2.a_LC</key>
			<integer>-2</integer>
			<key>public.kern2.emdash</key>
			<integer>-50</integer>
			<key>public.kern2.gamma</key>
			<integer>-20</integer>
			<key>public.kern2.guillemotleft</key>
			<integer>-50</integer>
			<key>public.kern2.minute</key>
			<integer>-20</integer>
			<key>public.kern2.quotes_curly_left</key>
			<integer>-20</integer>
			<key>public.kern2.quotes_curly_right</key>
			<integer>-40</integer>
			<key>public.kern2.s_LC</key>
			<integer>2</integer>
			<key>public.kern2.t_LC</key>
			<integer>-20</integer>
			<key>public.kern2.w_LC</key>
			<integer>-20</integer>
		</dict>
		<key>public.kern1.l_LC</key>
		<dict>
			<key>public.kern2.quotes_curly_left</key>
			<integer>10</integer>
		</dict>
		<key>public.kern1.minute</key>
		<dict>
			<key>public.kern2.A_UC</key>
			<integer>-40</integer>
			<key>public.kern2.J_UC</key>
			<integer>-50</integer>
			<key>public.kern2.Z_UC</key>
			<integer>-20</integer>
		</dict>
		<key>public.kern1.o_LC</key>
		<dict>
			<key>public.kern2.comma</key>
			<integer>-10</integer>
			<key>public.kern2.quotes_curly_right</key>
			<integer>-40</integer>
			<key>public.kern2.s_LC</key>
			<integer>10</integer>
		</dict>
		<key>public.kern1.parens</key>
		<dict>
			<key>public.kern2.T_UC</key>
			<integer>20</integer>
		</dict>
		<key>public.kern1.quotes_curly_left</key>
		<dict>
			<key>c</key>
			<integer>-50</integer>
			<key>cacute</key>
			<integer>-50</integer>
			<key>ccaron</key>
			<integer>-50</integer>
			<key>ccedilla</key>
			<integer>-50</integer>
			<key>ccircumflex</key>
			<integer>-50</integer>
			<key>cdotaccent</key>
			<integer>-50</integer>
			<key>d</key>
			<integer>-50</integer>
			<key>dcaron</key>
			<integer>-50</integer>
			<key>dzcaron</key>
			<integer>-50</integer>
			<key>e</key>
			<integer>-50</integer>
			<key>eacute</key>
			<integer>-50</integer>
			<key>ebreve</key>
			<integer>-50</integer>
			<key>ecaron</key>
			<integer>-50</integer>
			<key>ecircumflex</key>
			<integer>-50</integer>
			<key>ecircumflexacute</key>
			<integer>-50</integer>
			<key>ecircumflexdotbelow</key>
			<integer>-50</integer>
			<key>ecircumflexgrave</key>
			<integer>-50</integer>
			<key>ecircumflexhookabove</key>
			<integer>-50</integer>
			<key>ecircumflextilde</key>
			<integer>-50</integer>
			<key>edblgrave</key>
			<integer>-50</integer>
			<key>edieresis</key>
			<integer>-50</integer>
			<key>edotaccent</key>
			<integer>-50</integer>
			<key>edotbelow</key>
			<integer>-50</integer>
			<key>egrave</key>
			<integer>-50</integer>
			<key>ehookabove</key>
			<integer>-50</integer>
			<key>einvertedbreve</key>
			<integer>-50</integer>
			<key>emacron</key>
			<integer>-50</integer>
			<key>eogonek</key>
			<integer>-50</integer>
			<key>etilde</key>
			<integer>-50</integer>
			<key>g</key>
			<integer>-50</integer>
			<key>gbreve</key>
			<integer>-50</integer>
			<key>gcaron</key>
			<integer>-50</integer>
			<key>gcircumflex</key>
			<integer>-50</integer>
			<key>gcommaaccent</key>
			<integer>-50</integer>
			<key>gdotaccent</key>
			<integer>-50</integer>
			<key>oe</key>
			<integer>-50</integer>
			<key>ohorn</key>
			<integer>-50</integer>
			<key>ohornacute</key>
			<integer>-50</integer>
			<key>ohorndotbelow</key>
			<integer>-50</integer>
			<key>ohorngrave</key>
			<integer>-50</integer>
			<key>ohornhookabove</key>
			<integer>-50</integer>
			<key>public.kern2.a_LC</key>
			<integer>-60</integer>
			<key>public.kern2.gamma</key>
			<integer>-30</integer>
			<key>public.kern2.mnpr_LC</key>
			<integer>-40</integer>
			<key>public.kern2.o_LC</key>
			<integer>-50</integer>
			<key>public.kern2.s_LC</key>
			<integer>-40</integer>
			<key>public.kern2.t_LC</key>
			<integer>-10</integer>
			<key>public.kern2.u_LC</key>
			<integer>-40</integer>
			<key>public.kern2.w_LC</key>
			<integer>-30</integer>
			<key>public.kern2.z_LC</key>
			<integer>-30</integer>
			<key>q</key>
			<integer>-50</integer>
		</dict>
		<key>public.kern1.quotes_curly_right</key>
		<dict>
			<key>c</key>
			<integer>-80</integer>
			<key>cacute</key>
			<integer>-80</integer>
			<key>ccaron</key>
			<integer>-80</integer>
			<key>ccedilla</key>
			<integer>-80</integer>
			<key>ccircumflex</key>
			<integer>-80</integer>
			<key>cdotaccent</key>
			<integer>-80</integer>
			<key>d</key>
			<integer>-80</integer>
			<key>dcaron</key>
			<integer>-80</integer>
			<key>dzcaron</key>
			<integer>-80</integer>
			<key>e</key>
			<integer>-80</integer>
			<key>eacute</key>
			<integer>-80</integer>
			<key>ebreve</key>
			<integer>-80</integer>
			<key>ecaron</key>
			<integer>-80</integer>
			<key>ecircumflex</key>
			<integer>-80</integer>
			<key>ecircumflexacute</key>
			<integer>-80</integer>
			<key>ecircumflexdotbelow</key>
			<integer>-80</integer>
			<key>ecircumflexgrave</key>
			<integer>-80</integer>
			<key>ecircumflexhookabove</key>
			<integer>-80</integer>
			<key>ecircumflextilde</key>
			<integer>-80</integer>
			<key>edblgrave</key>
			<integer>-80</integer>
			<key>edieresis</key>
			<integer>-80</integer>
			<key>edotaccent</key>
			<integer>-80</integer>
			<key>edotbelow</key>
			<integer>-80</integer>
			<key>egrave</key>
			<integer>-80</integer>
			<key>ehookabove</key>
			<integer>-80</integer>
			<key>einvertedbreve</key>
			<integer>-80</integer>
			<key>emacron</key>
			<integer>-80</integer>
			<key>eogonek</key>
			<integer>-80</integer>
			<key>etilde</key>
			<integer>-80</integer>
			<key>g</key>
			<integer>-80</integer>
			<key>gbreve</key>
			<integer>-80</integer>
			<key>gcaron</key>
			<integer>-80</integer>
			<key>gcircumflex</key>
			<integer>-80</integer>
			<key>gcommaaccent</key>
			<integer>-80</integer>
			<key>gdotaccent</key>
			<integer>-80</integer>
			<key>oe</key>
			<integer>-80</integer>
			<key>ohorn</key>
			<integer>-80</integer>
			<key>ohornacute</key>
			<integer>-80</integer>
			<key>ohorndotbelow</key>
			<integer>-80</integer>
			<key>ohorngrave</key>
			<integer>-80</integer>
			<key>ohornhookabove</key>
			<integer>-80</integer>
			<key>public.kern2.a_LC</key>
			<integer>-90</integer>
			<key>public.kern2.bhk_LC</key>
			<integer>-5</integer>
			<key>public.kern2.gamma</key>
			<integer>-70</integer>
			<key>public.kern2.i_LC</key>
			<integer>-10</integer>
			<key>public.kern2.mnpr_LC</key>
			<integer>-70</integer>
			<key>public.kern2.o_LC</key>
			<integer>-80</integer>
			<key>public.kern2.s_LC</key>
			<integer>-70</integer>
			<key>public.kern2.t_LC</key>
			<integer>-20</integer>
			<key>public.kern2.u_LC</key>
			<integer>-70</integer>
			<key>public.kern2.w_LC</key>
			<integer>-70</integer>
			<key>public.kern2.z_LC</key>
			<integer>-70</integer>
			<key>q</key>
			<integer>-80</integer>
		</dict>
		<key>public.kern1.r_LC</key>
		<dict>
			<key>public.kern2.a_LC</key>
			<integer>-10</integer>
			<key>public.kern2.comma</key>
			<integer>-60</integer>
			<key>public.kern2.emdash</key>
			<integer>-10</integer>
			<key>public.kern2.f_LC</key>
			<integer>10</integer>
			<key>public.kern2.guillemotleft</key>
			<integer>-30</integer>
			<key>public.kern2.minute</key>
			<integer>20</integer>
			<key>public.kern2.quotes_curly_left</key>
			<integer>30</integer>
			<key>public.kern2.quotes_curly_right</key>
			<integer>-20</integer>
		</dict>
		<key>public.kern1.s_LC</key>
		<dict>
			<key>c</key>
			<integer>12</integer>
			<key>cacute</key>
			<integer>12</integer>
			<key>ccaron</key>
			<integer>12</integer>
			<key>ccedilla</key>
			<integer>12</integer>
			<key>ccircumflex</key>
			<integer>12</integer>
			<key>cdotaccent</key>
			<integer>12</integer>
			<key>d</key>
			<integer>12</integer>
			<key>dcaron</key>
			<integer>12</integer>
			<key>dzcaron</key>
			<integer>12</integer>
			<key>e</key>
			<integer>12</integer>
			<key>eacute</key>
			<integer>12</integer>
			<key>ebreve</key>
			<integer>12</integer>
			<key>ecaron</key>
			<integer>12</integer>
			<key>ecircumflex</key>
			<integer>12</integer>
			<key>ecircumflexacute</key>
			<integer>12</integer>
			<key>ecircumflexdotbelow</key>
			<integer>12</integer>
			<key>ecircumflexgrave</key>
			<integer>12</integer>
			<key>ecircumflexhookabove</key>
			<integer>12</integer>
			<key>ecircumflextilde</key>
			<integer>12</integer>
			<key>edblgrave</key>
			<integer>12</integer>
			<key>edieresis</key>
			<integer>12</integer>
			<key>edotaccent</key>
			<integer>12</integer>
			<key>edotbelow</key>
			<integer>12</integer>
			<key>egrave</key>
			<integer>12</integer>
			<key>ehookabove</key>
			<integer>12</integer>
			<key>einvertedbreve</key>
			<integer>12</integer>
			<key>emacron</key>
			<integer>12</integer>
			<key>eogonek</key>
			<integer>12</integer>
			<key>etilde</key>
			<integer>12</integer>
			<key>g</key>
			<integer>12</integer>
			<key>gbreve</key>
			<integer>12</integer>
			<key>gcaron</key>
			<integer>12</integer>
			<key>gcircumflex</key>
			<integer>12</integer>
			<key>gcommaaccent</key>
			<integer>12</integer>
			<key>gdotaccent</key>
			<integer>12</integer>
			<key>oe</key>
			<integer>12</integer>
			<key>ohorn</key>
			<integer>12</integer>
			<key>ohornacute</key>
			<integer>12</integer>
			<key>ohorndotbelow</key>
			<integer>12</integer>
			<key>ohorngrave</key>
			<integer>12</integer>
			<key>ohornhookabove</key>
			<integer>12</integer>
			<key>public.kern2.comma</key>
			<integer>-10</integer>
			<key>public.kern2.o_LC</key>
			<integer>10</integer>
			<key>public.kern2.quotes_curly_left</key>
			<integer>10</integer>
			<key>public.kern2.quotes_curly_right</key>
			<integer>-30</integer>
			<key>public.kern2.s_LC</key>
			<integer>14</integer>
			<key>public.kern2.t_LC</key>
			<integer>7</integer>
			<key>q</key>
			<integer>12</integer>
		</dict>
		<key>public.kern1.t_LC</key>
		<dict>
			<key>public.kern2.copyright</key>
			<integer>10</integer>
			<key>public.kern2.guillemotright</key>
			<integer>10</integer>
			<key>public.kern2.minute</key>
			<integer>20</integer>
			<key>public.kern2.quotes_curly_left</key>
			<integer>35</integer>
			<key>public.kern2.quotes_curly_right</key>
			<integer>-15</integer>
		</dict>
		<key>public.kern1.u_LC</key>
		<dict>
			<key>public.kern2.quotes_curly_right</key>
			<integer>-40</integer>
		</dict>
		<key>public.kern1.w_LC</key>
		<dict>
			<key>public.kern2.comma</key>
			<integer>-40</integer>
			<key>public.kern2.quotes_curly_left</key>
			<integer>20</integer>
			<key>public.kern2.quotes_curly_right</key>
			<integer>-20</integer>
		</dict>
		<key>public.kern1.z_LC</key>
		<dict>
			<key>public.kern2.comma</key>
			<integer>10</integer>
			<key>public.kern2.quotes_curly_left</key>
			<integer>30</integer>
			<key>public.kern2.quotes_curly_right</key>
			<integer>-10</integer>
		</dict>
	</dict>
</plist>
