<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>public.kern1.A_UC</key>
		<dict>
			<key>public.kern2.J_UC</key>
			<integer>-4</integer>
			<key>public.kern2.S_UC</key>
			<integer>5</integer>
			<key>public.kern2.T_UC</key>
			<integer>-10</integer>
			<key>public.kern2.W_UC</key>
			<integer>-30</integer>
			<key>public.kern2.Y_UC</key>
			<integer>-30</integer>
			<key>public.kern2.Z_UC</key>
			<integer>5</integer>
			<key>public.kern2.a_LC</key>
			<integer>0</integer>
			<key>public.kern2.alpha</key>
			<integer>0</integer>
			<key>public.kern2.bhk_LC</key>
			<integer>0</integer>
			<key>public.kern2.colon</key>
			<integer>0</integer>
			<key>public.kern2.comma</key>
			<integer>0</integer>
			<key>public.kern2.emdash</key>
			<integer>-10</integer>
			<key>public.kern2.f_LC</key>
			<integer>0</integer>
			<key>public.kern2.gamma</key>
			<integer>-10</integer>
			<key>public.kern2.guillemotleft</key>
			<integer>-10</integer>
			<key>public.kern2.i_LC</key>
			<integer>0</integer>
			<key>public.kern2.minute</key>
			<integer>-40</integer>
			<key>public.kern2.mnpr_LC</key>
			<integer>0</integer>
			<key>public.kern2.o_LC</key>
			<integer>0</integer>
			<key>public.kern2.s_LC</key>
			<integer>0</integer>
			<key>public.kern2.u_LC</key>
			<integer>-10</integer>
			<key>public.kern2.w_LC</key>
			<integer>-10</integer>
			<key>public.kern2.z_LC</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.C_UC</key>
		<dict>
			<key>public.kern2.AE_UC</key>
			<integer>10</integer>
			<key>public.kern2.A_UC</key>
			<integer>10</integer>
			<key>public.kern2.CG_UC</key>
			<integer>9</integer>
			<key>public.kern2.J_UC</key>
			<integer>6</integer>
			<key>public.kern2.S_UC</key>
			<integer>15</integer>
			<key>public.kern2.T_UC</key>
			<integer>0</integer>
			<key>public.kern2.W_UC</key>
			<integer>10</integer>
			<key>public.kern2.Y_UC</key>
			<integer>10</integer>
			<key>public.kern2.Z_UC</key>
			<integer>10</integer>
			<key>public.kern2.a_LC</key>
			<integer>16</integer>
			<key>public.kern2.alpha</key>
			<integer>23</integer>
			<key>public.kern2.bhk_LC</key>
			<integer>15</integer>
			<key>public.kern2.copyright</key>
			<integer>10</integer>
			<key>public.kern2.emdash</key>
			<integer>0</integer>
			<key>public.kern2.f_LC</key>
			<integer>20</integer>
			<key>public.kern2.gamma</key>
			<integer>20</integer>
			<key>public.kern2.guillemotleft</key>
			<integer>8</integer>
			<key>public.kern2.guillemotright</key>
			<integer>10</integer>
			<key>public.kern2.i_LC</key>
			<integer>20</integer>
			<key>public.kern2.minute</key>
			<integer>8</integer>
			<key>public.kern2.mnpr_LC</key>
			<integer>12</integer>
			<key>public.kern2.o_LC</key>
			<integer>18</integer>
			<key>public.kern2.parens</key>
			<integer>10</integer>
			<key>public.kern2.s_LC</key>
			<integer>17</integer>
			<key>public.kern2.t_LC</key>
			<integer>20</integer>
			<key>public.kern2.u_LC</key>
			<integer>12</integer>
			<key>public.kern2.w_LC</key>
			<integer>20</integer>
			<key>public.kern2.z_LC</key>
			<integer>10</integer>
		</dict>
		<key>public.kern1.D_UC</key>
		<dict>
			<key>public.kern2.S_UC</key>
			<integer>5</integer>
			<key>public.kern2.T_UC</key>
			<integer>0</integer>
			<key>public.kern2.a_LC</key>
			<integer>8</integer>
			<key>public.kern2.alpha</key>
			<integer>10</integer>
			<key>public.kern2.bhk_LC</key>
			<integer>10</integer>
			<key>public.kern2.colon</key>
			<integer>0</integer>
			<key>public.kern2.comma</key>
			<integer>-10</integer>
			<key>public.kern2.emdash</key>
			<integer>0</integer>
			<key>public.kern2.f_LC</key>
			<integer>10</integer>
			<key>public.kern2.gamma</key>
			<integer>10</integer>
			<key>public.kern2.i_LC</key>
			<integer>10</integer>
			<key>public.kern2.o_LC</key>
			<integer>10</integer>
			<key>public.kern2.s_LC</key>
			<integer>10</integer>
			<key>public.kern2.t_LC</key>
			<integer>10</integer>
			<key>public.kern2.w_LC</key>
			<integer>10</integer>
			<key>public.kern2.z_LC</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.E_UC</key>
		<dict>
			<key>public.kern2.CG_UC</key>
			<integer>0</integer>
			<key>public.kern2.J_UC</key>
			<integer>-3</integer>
			<key>public.kern2.S_UC</key>
			<integer>6</integer>
			<key>public.kern2.T_UC</key>
			<integer>0</integer>
			<key>public.kern2.W_UC</key>
			<integer>10</integer>
			<key>public.kern2.Y_UC</key>
			<integer>10</integer>
			<key>public.kern2.a_LC</key>
			<integer>0</integer>
			<key>public.kern2.alpha</key>
			<integer>0</integer>
			<key>public.kern2.comma</key>
			<integer>10</integer>
			<key>public.kern2.emdash</key>
			<integer>0</integer>
			<key>public.kern2.f_LC</key>
			<integer>0</integer>
			<key>public.kern2.gamma</key>
			<integer>0</integer>
			<key>public.kern2.minute</key>
			<integer>0</integer>
			<key>public.kern2.o_LC</key>
			<integer>0</integer>
			<key>public.kern2.parens</key>
			<integer>10</integer>
			<key>public.kern2.s_LC</key>
			<integer>0</integer>
			<key>public.kern2.t_LC</key>
			<integer>0</integer>
			<key>public.kern2.u_LC</key>
			<integer>0</integer>
			<key>public.kern2.w_LC</key>
			<integer>0</integer>
			<key>public.kern2.z_LC</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.G_UC</key>
		<dict>
			<key>public.kern2.AE_UC</key>
			<integer>-7</integer>
			<key>public.kern2.A_UC</key>
			<integer>-7</integer>
			<key>public.kern2.S_UC</key>
			<integer>6</integer>
			<key>public.kern2.T_UC</key>
			<integer>0</integer>
			<key>public.kern2.W_UC</key>
			<integer>-7</integer>
			<key>public.kern2.Y_UC</key>
			<integer>-7</integer>
			<key>public.kern2.comma</key>
			<integer>-20</integer>
			<key>public.kern2.emdash</key>
			<integer>0</integer>
			<key>public.kern2.gamma</key>
			<integer>0</integer>
			<key>public.kern2.parens</key>
			<integer>-8</integer>
			<key>public.kern2.w_LC</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.JU_UC</key>
		<dict>
			<key>public.kern2.AE_UC</key>
			<integer>-10</integer>
			<key>public.kern2.A_UC</key>
			<integer>-10</integer>
			<key>public.kern2.S_UC</key>
			<integer>5</integer>
			<key>public.kern2.colon</key>
			<integer>0</integer>
			<key>public.kern2.comma</key>
			<integer>-10</integer>
			<key>public.kern2.emdash</key>
			<integer>0</integer>
			<key>public.kern2.gamma</key>
			<integer>0</integer>
			<key>public.kern2.w_LC</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.K_UC</key>
		<dict>
			<key>public.kern2.CG_UC</key>
			<integer>-10</integer>
			<key>public.kern2.J_UC</key>
			<integer>-10</integer>
			<key>public.kern2.S_UC</key>
			<integer>-5</integer>
			<key>public.kern2.T_UC</key>
			<integer>10</integer>
			<key>public.kern2.a_LC</key>
			<integer>-5</integer>
			<key>public.kern2.alpha</key>
			<integer>0</integer>
			<key>public.kern2.comma</key>
			<integer>0</integer>
			<key>public.kern2.emdash</key>
			<integer>-60</integer>
			<key>public.kern2.f_LC</key>
			<integer>0</integer>
			<key>public.kern2.gamma</key>
			<integer>-20</integer>
			<key>public.kern2.guillemotleft</key>
			<integer>-50</integer>
			<key>public.kern2.i_LC</key>
			<integer>0</integer>
			<key>public.kern2.minute</key>
			<integer>0</integer>
			<key>public.kern2.o_LC</key>
			<integer>0</integer>
			<key>public.kern2.s_LC</key>
			<integer>0</integer>
			<key>public.kern2.t_LC</key>
			<integer>-30</integer>
			<key>public.kern2.u_LC</key>
			<integer>-10</integer>
			<key>public.kern2.w_LC</key>
			<integer>-20</integer>
			<key>public.kern2.z_LC</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.L_UC</key>
		<dict>
			<key>public.kern2.AE_UC</key>
			<integer>10</integer>
			<key>public.kern2.A_UC</key>
			<integer>10</integer>
			<key>public.kern2.CG_UC</key>
			<integer>6</integer>
			<key>public.kern2.S_UC</key>
			<integer>5</integer>
			<key>public.kern2.T_UC</key>
			<integer>-10</integer>
			<key>public.kern2.U_UC</key>
			<integer>-4</integer>
			<key>public.kern2.W_UC</key>
			<integer>-20</integer>
			<key>public.kern2.Y_UC</key>
			<integer>-20</integer>
			<key>public.kern2.a_LC</key>
			<integer>0</integer>
			<key>public.kern2.alpha</key>
			<integer>0</integer>
			<key>public.kern2.comma</key>
			<integer>10</integer>
			<key>public.kern2.emdash</key>
			<integer>-30</integer>
			<key>public.kern2.f_LC</key>
			<integer>0</integer>
			<key>public.kern2.gamma</key>
			<integer>-20</integer>
			<key>public.kern2.guillemotleft</key>
			<integer>-20</integer>
			<key>public.kern2.minute</key>
			<integer>0</integer>
			<key>public.kern2.o_LC</key>
			<integer>0</integer>
			<key>public.kern2.s_LC</key>
			<integer>0</integer>
			<key>public.kern2.t_LC</key>
			<integer>0</integer>
			<key>public.kern2.u_LC</key>
			<integer>0</integer>
			<key>public.kern2.w_LC</key>
			<integer>-20</integer>
		</dict>
		<key>public.kern1.LeftStraight_UC</key>
		<dict>
			<key>public.kern2.T_UC</key>
			<integer>0</integer>
			<key>public.kern2.Y_UC</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.R_UC</key>
		<dict>
			<key>public.kern2.J_UC</key>
			<integer>-5</integer>
			<key>public.kern2.T_UC</key>
			<integer>0</integer>
			<key>public.kern2.U_UC</key>
			<integer>0</integer>
			<key>public.kern2.W_UC</key>
			<integer>-25</integer>
			<key>public.kern2.Y_UC</key>
			<integer>-25</integer>
			<key>public.kern2.Z_UC</key>
			<integer>0</integer>
			<key>public.kern2.a_LC</key>
			<integer>0</integer>
			<key>public.kern2.bhk_LC</key>
			<integer>0</integer>
			<key>public.kern2.comma</key>
			<integer>0</integer>
			<key>public.kern2.emdash</key>
			<integer>-10</integer>
			<key>public.kern2.f_LC</key>
			<integer>0</integer>
			<key>public.kern2.gamma</key>
			<integer>0</integer>
			<key>public.kern2.guillemotleft</key>
			<integer>-40</integer>
			<key>public.kern2.i_LC</key>
			<integer>0</integer>
			<key>public.kern2.minute</key>
			<integer>-15</integer>
			<key>public.kern2.mnpr_LC</key>
			<integer>0</integer>
			<key>public.kern2.o_LC</key>
			<integer>0</integer>
			<key>public.kern2.parens</key>
			<integer>-15</integer>
			<key>public.kern2.s_LC</key>
			<integer>0</integer>
			<key>public.kern2.t_LC</key>
			<integer>0</integer>
			<key>public.kern2.u_LC</key>
			<integer>-10</integer>
			<key>public.kern2.w_LC</key>
			<integer>0</integer>
			<key>public.kern2.z_LC</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.S_UC</key>
		<dict>
			<key>public.kern2.AE_UC</key>
			<integer>5</integer>
			<key>public.kern2.A_UC</key>
			<integer>5</integer>
			<key>public.kern2.CG_UC</key>
			<integer>10</integer>
			<key>public.kern2.J_UC</key>
			<integer>10</integer>
			<key>public.kern2.S_UC</key>
			<integer>20</integer>
			<key>public.kern2.T_UC</key>
			<integer>10</integer>
			<key>public.kern2.Z_UC</key>
			<integer>10</integer>
			<key>public.kern2.a_LC</key>
			<integer>20</integer>
			<key>public.kern2.alpha</key>
			<integer>20</integer>
			<key>public.kern2.bhk_LC</key>
			<integer>20</integer>
			<key>public.kern2.comma</key>
			<integer>-5</integer>
			<key>public.kern2.copyright</key>
			<integer>5</integer>
			<key>public.kern2.emdash</key>
			<integer>0</integer>
			<key>public.kern2.f_LC</key>
			<integer>20</integer>
			<key>public.kern2.gamma</key>
			<integer>20</integer>
			<key>public.kern2.guillemotleft</key>
			<integer>10</integer>
			<key>public.kern2.guillemotright</key>
			<integer>10</integer>
			<key>public.kern2.i_LC</key>
			<integer>20</integer>
			<key>public.kern2.minute</key>
			<integer>10</integer>
			<key>public.kern2.mnpr_LC</key>
			<integer>10</integer>
			<key>public.kern2.o_LC</key>
			<integer>20</integer>
			<key>public.kern2.s_LC</key>
			<integer>20</integer>
			<key>public.kern2.t_LC</key>
			<integer>20</integer>
			<key>public.kern2.u_LC</key>
			<integer>10</integer>
			<key>public.kern2.w_LC</key>
			<integer>20</integer>
			<key>public.kern2.z_LC</key>
			<integer>10</integer>
		</dict>
		<key>public.kern1.T_UC</key>
		<dict>
			<key>public.kern2.AE_UC</key>
			<integer>-10</integer>
			<key>public.kern2.A_UC</key>
			<integer>-10</integer>
			<key>public.kern2.CG_UC</key>
			<integer>0</integer>
			<key>public.kern2.J_UC</key>
			<integer>-30</integer>
			<key>public.kern2.S_UC</key>
			<integer>0</integer>
			<key>public.kern2.T_UC</key>
			<integer>0</integer>
			<key>public.kern2.Z_UC</key>
			<integer>0</integer>
			<key>public.kern2.a_LC</key>
			<integer>-30</integer>
			<key>public.kern2.alpha</key>
			<integer>-30</integer>
			<key>public.kern2.colon</key>
			<integer>-20</integer>
			<key>public.kern2.comma</key>
			<integer>-30</integer>
			<key>public.kern2.emdash</key>
			<integer>-10</integer>
			<key>public.kern2.f_LC</key>
			<integer>0</integer>
			<key>public.kern2.gamma</key>
			<integer>-30</integer>
			<key>public.kern2.guillemotleft</key>
			<integer>-20</integer>
			<key>public.kern2.guillemotright</key>
			<integer>-10</integer>
			<key>public.kern2.i_LC</key>
			<integer>-40</integer>
			<key>public.kern2.minute</key>
			<integer>0</integer>
			<key>public.kern2.mnpr_LC</key>
			<integer>-40</integer>
			<key>public.kern2.o_LC</key>
			<integer>-30</integer>
			<key>public.kern2.parens</key>
			<integer>20</integer>
			<key>public.kern2.s_LC</key>
			<integer>-30</integer>
			<key>public.kern2.t_LC</key>
			<integer>0</integer>
			<key>public.kern2.u_LC</key>
			<integer>-40</integer>
			<key>public.kern2.w_LC</key>
			<integer>-30</integer>
			<key>public.kern2.z_LC</key>
			<integer>-30</integer>
			<key>space</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.W_UC</key>
		<dict>
			<key>public.kern2.AE_UC</key>
			<integer>-30</integer>
			<key>public.kern2.A_UC</key>
			<integer>-30</integer>
			<key>public.kern2.J_UC</key>
			<integer>-20</integer>
			<key>public.kern2.W_UC</key>
			<integer>0</integer>
			<key>public.kern2.Z_UC</key>
			<integer>0</integer>
			<key>public.kern2.a_LC</key>
			<integer>-21</integer>
			<key>public.kern2.alpha</key>
			<integer>-14</integer>
			<key>public.kern2.colon</key>
			<integer>-10</integer>
			<key>public.kern2.comma</key>
			<integer>-50</integer>
			<key>public.kern2.emdash</key>
			<integer>-10</integer>
			<key>public.kern2.f_LC</key>
			<integer>0</integer>
			<key>public.kern2.gamma</key>
			<integer>-10</integer>
			<key>public.kern2.guillemotleft</key>
			<integer>-10</integer>
			<key>public.kern2.guillemotright</key>
			<integer>-10</integer>
			<key>public.kern2.i_LC</key>
			<integer>0</integer>
			<key>public.kern2.minute</key>
			<integer>0</integer>
			<key>public.kern2.mnpr_LC</key>
			<integer>-20</integer>
			<key>public.kern2.o_LC</key>
			<integer>-14</integer>
			<key>public.kern2.parens</key>
			<integer>0</integer>
			<key>public.kern2.s_LC</key>
			<integer>-14</integer>
			<key>public.kern2.t_LC</key>
			<integer>0</integer>
			<key>public.kern2.u_LC</key>
			<integer>-20</integer>
			<key>public.kern2.w_LC</key>
			<integer>-10</integer>
			<key>public.kern2.z_LC</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.Y_UC</key>
		<dict>
			<key>public.kern2.AE_UC</key>
			<integer>-30</integer>
			<key>public.kern2.A_UC</key>
			<integer>-30</integer>
			<key>public.kern2.J_UC</key>
			<integer>-47</integer>
			<key>public.kern2.Z_UC</key>
			<integer>0</integer>
			<key>public.kern2.a_LC</key>
			<integer>-30</integer>
			<key>public.kern2.alpha</key>
			<integer>-25</integer>
			<key>public.kern2.colon</key>
			<integer>-20</integer>
			<key>public.kern2.comma</key>
			<integer>-40</integer>
			<key>public.kern2.emdash</key>
			<integer>-20</integer>
			<key>public.kern2.f_LC</key>
			<integer>0</integer>
			<key>public.kern2.gamma</key>
			<integer>-25</integer>
			<key>public.kern2.guillemotleft</key>
			<integer>-30</integer>
			<key>public.kern2.guillemotright</key>
			<integer>-10</integer>
			<key>public.kern2.i_LC</key>
			<integer>0</integer>
			<key>public.kern2.minute</key>
			<integer>0</integer>
			<key>public.kern2.mnpr_LC</key>
			<integer>-35</integer>
			<key>public.kern2.o_LC</key>
			<integer>-25</integer>
			<key>public.kern2.parens</key>
			<integer>0</integer>
			<key>public.kern2.s_LC</key>
			<integer>-28</integer>
			<key>public.kern2.t_LC</key>
			<integer>0</integer>
			<key>public.kern2.u_LC</key>
			<integer>-35</integer>
			<key>public.kern2.w_LC</key>
			<integer>-25</integer>
			<key>public.kern2.z_LC</key>
			<integer>-25</integer>
		</dict>
		<key>public.kern1.Z_UC</key>
		<dict>
			<key>public.kern2.A_UC</key>
			<integer>2</integer>
			<key>public.kern2.CG_UC</key>
			<integer>0</integer>
			<key>public.kern2.S_UC</key>
			<integer>0</integer>
			<key>public.kern2.T_UC</key>
			<integer>0</integer>
			<key>public.kern2.W_UC</key>
			<integer>0</integer>
			<key>public.kern2.Y_UC</key>
			<integer>10</integer>
			<key>public.kern2.a_LC</key>
			<integer>0</integer>
			<key>public.kern2.alpha</key>
			<integer>0</integer>
			<key>public.kern2.comma</key>
			<integer>0</integer>
			<key>public.kern2.emdash</key>
			<integer>-30</integer>
			<key>public.kern2.f_LC</key>
			<integer>0</integer>
			<key>public.kern2.gamma</key>
			<integer>0</integer>
			<key>public.kern2.guillemotleft</key>
			<integer>-40</integer>
			<key>public.kern2.guillemotright</key>
			<integer>-10</integer>
			<key>public.kern2.minute</key>
			<integer>0</integer>
			<key>public.kern2.o_LC</key>
			<integer>0</integer>
			<key>public.kern2.s_LC</key>
			<integer>0</integer>
			<key>public.kern2.t_LC</key>
			<integer>0</integer>
			<key>public.kern2.u_LC</key>
			<integer>0</integer>
			<key>public.kern2.w_LC</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.a_LC</key>
		<dict>
			<key>public.kern2.a_LC</key>
			<integer>0</integer>
			<key>public.kern2.alpha</key>
			<integer>0</integer>
			<key>public.kern2.f_LC</key>
			<integer>0</integer>
			<key>public.kern2.minute</key>
			<integer>0</integer>
			<key>public.kern2.o_LC</key>
			<integer>0</integer>
			<key>public.kern2.quotes_curly_right</key>
			<integer>-40</integer>
			<key>public.kern2.s_LC</key>
			<integer>0</integer>
			<key>public.kern2.t_LC</key>
			<integer>0</integer>
			<key>public.kern2.u_LC</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.b_LC</key>
		<dict>
			<key>public.kern2.a_LC</key>
			<integer>0</integer>
			<key>public.kern2.colon</key>
			<integer>0</integer>
			<key>public.kern2.comma</key>
			<integer>-10</integer>
			<key>public.kern2.emdash</key>
			<integer>0</integer>
			<key>public.kern2.f_LC</key>
			<integer>0</integer>
			<key>public.kern2.gamma</key>
			<integer>0</integer>
			<key>public.kern2.minute</key>
			<integer>0</integer>
			<key>public.kern2.quotes_curly_right</key>
			<integer>-40</integer>
			<key>public.kern2.s_LC</key>
			<integer>0</integer>
			<key>public.kern2.t_LC</key>
			<integer>0</integer>
			<key>public.kern2.w_LC</key>
			<integer>0</integer>
			<key>public.kern2.z_LC</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.c_LC</key>
		<dict>
			<key>public.kern2.A_UC</key>
			<integer>0</integer>
			<key>public.kern2.J_UC</key>
			<integer>0</integer>
			<key>public.kern2.T_UC</key>
			<integer>0</integer>
			<key>public.kern2.U_UC</key>
			<integer>0</integer>
			<key>public.kern2.W_UC</key>
			<integer>0</integer>
			<key>public.kern2.colon</key>
			<integer>4</integer>
			<key>public.kern2.copyright</key>
			<integer>5</integer>
			<key>public.kern2.emdash</key>
			<integer>4</integer>
			<key>public.kern2.f_LC</key>
			<integer>0</integer>
			<key>public.kern2.gamma</key>
			<integer>0</integer>
			<key>public.kern2.minute</key>
			<integer>4</integer>
			<key>public.kern2.quotes_curly_right</key>
			<integer>-40</integer>
			<key>public.kern2.s_LC</key>
			<integer>0</integer>
			<key>public.kern2.t_LC</key>
			<integer>0</integer>
			<key>public.kern2.w_LC</key>
			<integer>0</integer>
			<key>public.kern2.z_LC</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.colon</key>
		<dict>
			<key>public.kern2.A_UC</key>
			<integer>0</integer>
			<key>public.kern2.CG_UC</key>
			<integer>0</integer>
			<key>public.kern2.T_UC</key>
			<integer>-20</integer>
			<key>public.kern2.U_UC</key>
			<integer>0</integer>
			<key>public.kern2.W_UC</key>
			<integer>-10</integer>
			<key>public.kern2.Y_UC</key>
			<integer>-20</integer>
			<key>public.kern2.alpha</key>
			<integer>0</integer>
			<key>public.kern2.o_LC</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.comma</key>
		<dict>
			<key>public.kern2.A_UC</key>
			<integer>0</integer>
			<key>public.kern2.CG_UC</key>
			<integer>-10</integer>
			<key>public.kern2.J_UC</key>
			<integer>-15</integer>
			<key>public.kern2.S_UC</key>
			<integer>-5</integer>
			<key>public.kern2.T_UC</key>
			<integer>-30</integer>
			<key>public.kern2.U_UC</key>
			<integer>-20</integer>
			<key>public.kern2.W_UC</key>
			<integer>-50</integer>
			<key>public.kern2.Y_UC</key>
			<integer>-40</integer>
			<key>public.kern2.Z_UC</key>
			<integer>0</integer>
			<key>public.kern2.a_LC</key>
			<integer>-10</integer>
			<key>public.kern2.alpha</key>
			<integer>-10</integer>
			<key>public.kern2.f_LC</key>
			<integer>-10</integer>
			<key>public.kern2.gamma</key>
			<integer>-40</integer>
			<key>public.kern2.minute</key>
			<integer>0</integer>
			<key>public.kern2.o_LC</key>
			<integer>-10</integer>
			<key>public.kern2.s_LC</key>
			<integer>-10</integer>
			<key>public.kern2.t_LC</key>
			<integer>-38</integer>
			<key>public.kern2.u_LC</key>
			<integer>-10</integer>
			<key>public.kern2.w_LC</key>
			<integer>-40</integer>
			<key>public.kern2.z_LC</key>
			<integer>20</integer>
		</dict>
		<key>public.kern1.copyright</key>
		<dict>
			<key>public.kern2.S_UC</key>
			<integer>5</integer>
			<key>public.kern2.f_LC</key>
			<integer>30</integer>
			<key>public.kern2.t_LC</key>
			<integer>20</integer>
		</dict>
		<key>public.kern1.e_LC</key>
		<dict>
			<key>public.kern2.A_UC</key>
			<integer>0</integer>
			<key>public.kern2.CG_UC</key>
			<integer>0</integer>
			<key>public.kern2.J_UC</key>
			<integer>0</integer>
			<key>public.kern2.T_UC</key>
			<integer>0</integer>
			<key>public.kern2.U_UC</key>
			<integer>0</integer>
			<key>public.kern2.W_UC</key>
			<integer>0</integer>
			<key>public.kern2.Y_UC</key>
			<integer>0</integer>
			<key>public.kern2.Z_UC</key>
			<integer>0</integer>
			<key>public.kern2.a_LC</key>
			<integer>0</integer>
			<key>public.kern2.comma</key>
			<integer>-10</integer>
			<key>public.kern2.emdash</key>
			<integer>0</integer>
			<key>public.kern2.f_LC</key>
			<integer>0</integer>
			<key>public.kern2.gamma</key>
			<integer>0</integer>
			<key>public.kern2.minute</key>
			<integer>0</integer>
			<key>public.kern2.quotes_curly_right</key>
			<integer>-40</integer>
			<key>public.kern2.s_LC</key>
			<integer>0</integer>
			<key>public.kern2.t_LC</key>
			<integer>0</integer>
			<key>public.kern2.w_LC</key>
			<integer>0</integer>
			<key>public.kern2.z_LC</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.emdash</key>
		<dict>
			<key>public.kern2.A_UC</key>
			<integer>-10</integer>
			<key>public.kern2.CG_UC</key>
			<integer>0</integer>
			<key>public.kern2.T_UC</key>
			<integer>-10</integer>
			<key>public.kern2.U_UC</key>
			<integer>0</integer>
			<key>public.kern2.W_UC</key>
			<integer>-10</integer>
			<key>public.kern2.Y_UC</key>
			<integer>-20</integer>
			<key>public.kern2.a_LC</key>
			<integer>0</integer>
			<key>public.kern2.alpha</key>
			<integer>0</integer>
			<key>public.kern2.gamma</key>
			<integer>0</integer>
			<key>public.kern2.o_LC</key>
			<integer>0</integer>
			<key>public.kern2.t_LC</key>
			<integer>0</integer>
			<key>public.kern2.w_LC</key>
			<integer>0</integer>
			<key>public.kern2.z_LC</key>
			<integer>-20</integer>
		</dict>
		<key>public.kern1.f_LC</key>
		<dict>
			<key>public.kern2.a_LC</key>
			<integer>10</integer>
			<key>public.kern2.alpha</key>
			<integer>10</integer>
			<key>public.kern2.bhk_LC</key>
			<integer>0</integer>
			<key>public.kern2.comma</key>
			<integer>-10</integer>
			<key>public.kern2.copyright</key>
			<integer>40</integer>
			<key>public.kern2.f_LC</key>
			<integer>0</integer>
			<key>public.kern2.gamma</key>
			<integer>10</integer>
			<key>public.kern2.guillemotright</key>
			<integer>40</integer>
			<key>public.kern2.i_LC</key>
			<integer>0</integer>
			<key>public.kern2.minute</key>
			<integer>57</integer>
			<key>public.kern2.o_LC</key>
			<integer>10</integer>
			<key>public.kern2.parens</key>
			<integer>80</integer>
			<key>public.kern2.quotes_curly_left</key>
			<integer>80</integer>
			<key>public.kern2.quotes_curly_right</key>
			<integer>30</integer>
			<key>public.kern2.s_LC</key>
			<integer>20</integer>
			<key>public.kern2.t_LC</key>
			<integer>10</integer>
			<key>public.kern2.w_LC</key>
			<integer>10</integer>
			<key>public.kern2.z_LC</key>
			<integer>10</integer>
		</dict>
		<key>public.kern1.gamma</key>
		<dict>
			<key>public.kern2.a_LC</key>
			<integer>0</integer>
			<key>public.kern2.alpha</key>
			<integer>0</integer>
			<key>public.kern2.comma</key>
			<integer>-40</integer>
			<key>public.kern2.emdash</key>
			<integer>0</integer>
			<key>public.kern2.gamma</key>
			<integer>0</integer>
			<key>public.kern2.minute</key>
			<integer>0</integer>
			<key>public.kern2.quotes_curly_left</key>
			<integer>20</integer>
			<key>public.kern2.quotes_curly_right</key>
			<integer>-20</integer>
			<key>public.kern2.t_LC</key>
			<integer>0</integer>
			<key>public.kern2.w_LC</key>
			<integer>0</integer>
			<key>public.kern2.z_LC</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.guillemotleft</key>
		<dict>
			<key>public.kern2.T_UC</key>
			<integer>-10</integer>
			<key>public.kern2.W_UC</key>
			<integer>-10</integer>
			<key>public.kern2.Y_UC</key>
			<integer>-10</integer>
			<key>public.kern2.Z_UC</key>
			<integer>20</integer>
			<key>public.kern2.f_LC</key>
			<integer>20</integer>
			<key>public.kern2.t_LC</key>
			<integer>10</integer>
		</dict>
		<key>public.kern1.guillemotright</key>
		<dict>
			<key>public.kern2.A_UC</key>
			<integer>-10</integer>
			<key>public.kern2.T_UC</key>
			<integer>-20</integer>
			<key>public.kern2.W_UC</key>
			<integer>-10</integer>
			<key>public.kern2.Y_UC</key>
			<integer>-30</integer>
			<key>public.kern2.z_LC</key>
			<integer>-10</integer>
		</dict>
		<key>public.kern1.hmn_LC</key>
		<dict>
			<key>public.kern2.f_LC</key>
			<integer>0</integer>
			<key>public.kern2.gamma</key>
			<integer>0</integer>
			<key>public.kern2.minute</key>
			<integer>0</integer>
			<key>public.kern2.quotes_curly_right</key>
			<integer>-40</integer>
			<key>public.kern2.w_LC</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.i_LC</key>
		<dict>
			<key>public.kern2.quotes_curly_left</key>
			<integer>10</integer>
		</dict>
		<key>public.kern1.j_LC</key>
		<dict>
			<key>public.kern2.quotes_curly_left</key>
			<integer>10</integer>
		</dict>
		<key>public.kern1.k_LC</key>
		<dict>
			<key>public.kern2.a_LC</key>
			<integer>-2</integer>
			<key>public.kern2.alpha</key>
			<integer>0</integer>
			<key>public.kern2.bhk_LC</key>
			<integer>0</integer>
			<key>public.kern2.colon</key>
			<integer>0</integer>
			<key>public.kern2.comma</key>
			<integer>0</integer>
			<key>public.kern2.emdash</key>
			<integer>-50</integer>
			<key>public.kern2.f_LC</key>
			<integer>0</integer>
			<key>public.kern2.gamma</key>
			<integer>-20</integer>
			<key>public.kern2.guillemotleft</key>
			<integer>-50</integer>
			<key>public.kern2.i_LC</key>
			<integer>0</integer>
			<key>public.kern2.minute</key>
			<integer>-20</integer>
			<key>public.kern2.quotes_curly_left</key>
			<integer>-20</integer>
			<key>public.kern2.quotes_curly_right</key>
			<integer>-40</integer>
			<key>public.kern2.s_LC</key>
			<integer>2</integer>
			<key>public.kern2.t_LC</key>
			<integer>-20</integer>
			<key>public.kern2.u_LC</key>
			<integer>0</integer>
			<key>public.kern2.w_LC</key>
			<integer>-20</integer>
			<key>public.kern2.z_LC</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.l_LC</key>
		<dict>
			<key>public.kern2.quotes_curly_left</key>
			<integer>10</integer>
		</dict>
		<key>public.kern1.minute</key>
		<dict>
			<key>public.kern2.A_UC</key>
			<integer>-40</integer>
			<key>public.kern2.J_UC</key>
			<integer>-50</integer>
			<key>public.kern2.T_UC</key>
			<integer>0</integer>
			<key>public.kern2.W_UC</key>
			<integer>0</integer>
			<key>public.kern2.Y_UC</key>
			<integer>0</integer>
			<key>public.kern2.Z_UC</key>
			<integer>-20</integer>
			<key>public.kern2.alpha</key>
			<integer>0</integer>
			<key>public.kern2.f_LC</key>
			<integer>0</integer>
			<key>public.kern2.gamma</key>
			<integer>0</integer>
			<key>public.kern2.minute</key>
			<integer>0</integer>
			<key>public.kern2.mnpr_LC</key>
			<integer>0</integer>
			<key>public.kern2.s_LC</key>
			<integer>0</integer>
			<key>public.kern2.t_LC</key>
			<integer>0</integer>
			<key>public.kern2.w_LC</key>
			<integer>0</integer>
			<key>public.kern2.z_LC</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.o_LC</key>
		<dict>
			<key>public.kern2.a_LC</key>
			<integer>0</integer>
			<key>public.kern2.colon</key>
			<integer>0</integer>
			<key>public.kern2.comma</key>
			<integer>-10</integer>
			<key>public.kern2.emdash</key>
			<integer>0</integer>
			<key>public.kern2.f_LC</key>
			<integer>0</integer>
			<key>public.kern2.minute</key>
			<integer>0</integer>
			<key>public.kern2.quotes_curly_right</key>
			<integer>-40</integer>
			<key>public.kern2.s_LC</key>
			<integer>10</integer>
			<key>public.kern2.z_LC</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.parens</key>
		<dict>
			<key>public.kern2.J_UC</key>
			<integer>0</integer>
			<key>public.kern2.T_UC</key>
			<integer>20</integer>
			<key>public.kern2.U_UC</key>
			<integer>0</integer>
			<key>public.kern2.W_UC</key>
			<integer>0</integer>
			<key>public.kern2.Y_UC</key>
			<integer>0</integer>
			<key>public.kern2.gamma</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.quotes_curly_left</key>
		<dict>
			<key>public.kern2.a_LC</key>
			<integer>-60</integer>
			<key>public.kern2.alpha</key>
			<integer>-50</integer>
			<key>public.kern2.gamma</key>
			<integer>-30</integer>
			<key>public.kern2.mnpr_LC</key>
			<integer>-40</integer>
			<key>public.kern2.o_LC</key>
			<integer>-50</integer>
			<key>public.kern2.s_LC</key>
			<integer>-40</integer>
			<key>public.kern2.t_LC</key>
			<integer>-10</integer>
			<key>public.kern2.u_LC</key>
			<integer>-40</integer>
			<key>public.kern2.w_LC</key>
			<integer>-30</integer>
			<key>public.kern2.z_LC</key>
			<integer>-30</integer>
		</dict>
		<key>public.kern1.quotes_curly_right</key>
		<dict>
			<key>public.kern2.a_LC</key>
			<integer>-90</integer>
			<key>public.kern2.alpha</key>
			<integer>-80</integer>
			<key>public.kern2.bhk_LC</key>
			<integer>-5</integer>
			<key>public.kern2.gamma</key>
			<integer>-70</integer>
			<key>public.kern2.i_LC</key>
			<integer>-10</integer>
			<key>public.kern2.mnpr_LC</key>
			<integer>-70</integer>
			<key>public.kern2.o_LC</key>
			<integer>-80</integer>
			<key>public.kern2.s_LC</key>
			<integer>-70</integer>
			<key>public.kern2.t_LC</key>
			<integer>-20</integer>
			<key>public.kern2.u_LC</key>
			<integer>-70</integer>
			<key>public.kern2.w_LC</key>
			<integer>-70</integer>
			<key>public.kern2.z_LC</key>
			<integer>-70</integer>
		</dict>
		<key>public.kern1.r_LC</key>
		<dict>
			<key>public.kern2.a_LC</key>
			<integer>-10</integer>
			<key>public.kern2.alpha</key>
			<integer>0</integer>
			<key>public.kern2.comma</key>
			<integer>-60</integer>
			<key>public.kern2.emdash</key>
			<integer>-10</integer>
			<key>public.kern2.f_LC</key>
			<integer>10</integer>
			<key>public.kern2.gamma</key>
			<integer>0</integer>
			<key>public.kern2.guillemotleft</key>
			<integer>-30</integer>
			<key>public.kern2.minute</key>
			<integer>20</integer>
			<key>public.kern2.o_LC</key>
			<integer>0</integer>
			<key>public.kern2.quotes_curly_left</key>
			<integer>30</integer>
			<key>public.kern2.quotes_curly_right</key>
			<integer>-20</integer>
			<key>public.kern2.s_LC</key>
			<integer>0</integer>
			<key>public.kern2.w_LC</key>
			<integer>0</integer>
			<key>public.kern2.z_LC</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.s_LC</key>
		<dict>
			<key>public.kern2.alpha</key>
			<integer>12</integer>
			<key>public.kern2.comma</key>
			<integer>-10</integer>
			<key>public.kern2.f_LC</key>
			<integer>0</integer>
			<key>public.kern2.minute</key>
			<integer>0</integer>
			<key>public.kern2.o_LC</key>
			<integer>10</integer>
			<key>public.kern2.quotes_curly_left</key>
			<integer>10</integer>
			<key>public.kern2.quotes_curly_right</key>
			<integer>-30</integer>
			<key>public.kern2.s_LC</key>
			<integer>14</integer>
			<key>public.kern2.t_LC</key>
			<integer>7</integer>
			<key>public.kern2.z_LC</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.t_LC</key>
		<dict>
			<key>public.kern2.a_LC</key>
			<integer>0</integer>
			<key>public.kern2.alpha</key>
			<integer>0</integer>
			<key>public.kern2.comma</key>
			<integer>0</integer>
			<key>public.kern2.copyright</key>
			<integer>10</integer>
			<key>public.kern2.f_LC</key>
			<integer>0</integer>
			<key>public.kern2.gamma</key>
			<integer>0</integer>
			<key>public.kern2.guillemotright</key>
			<integer>10</integer>
			<key>public.kern2.minute</key>
			<integer>20</integer>
			<key>public.kern2.quotes_curly_left</key>
			<integer>35</integer>
			<key>public.kern2.quotes_curly_right</key>
			<integer>-15</integer>
			<key>public.kern2.s_LC</key>
			<integer>0</integer>
			<key>public.kern2.t_LC</key>
			<integer>0</integer>
			<key>public.kern2.w_LC</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.u_LC</key>
		<dict>
			<key>public.kern2.T_UC</key>
			<integer>0</integer>
			<key>public.kern2.quotes_curly_right</key>
			<integer>-40</integer>
		</dict>
		<key>public.kern1.w_LC</key>
		<dict>
			<key>public.kern2.a_LC</key>
			<integer>0</integer>
			<key>public.kern2.comma</key>
			<integer>-40</integer>
			<key>public.kern2.emdash</key>
			<integer>0</integer>
			<key>public.kern2.f_LC</key>
			<integer>0</integer>
			<key>public.kern2.gamma</key>
			<integer>0</integer>
			<key>public.kern2.minute</key>
			<integer>0</integer>
			<key>public.kern2.quotes_curly_left</key>
			<integer>20</integer>
			<key>public.kern2.quotes_curly_right</key>
			<integer>-20</integer>
			<key>public.kern2.s_LC</key>
			<integer>0</integer>
			<key>public.kern2.t_LC</key>
			<integer>0</integer>
			<key>public.kern2.w_LC</key>
			<integer>0</integer>
			<key>public.kern2.z_LC</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.z_LC</key>
		<dict>
			<key>public.kern2.a_LC</key>
			<integer>0</integer>
			<key>public.kern2.alpha</key>
			<integer>0</integer>
			<key>public.kern2.comma</key>
			<integer>10</integer>
			<key>public.kern2.f_LC</key>
			<integer>0</integer>
			<key>public.kern2.gamma</key>
			<integer>0</integer>
			<key>public.kern2.o_LC</key>
			<integer>0</integer>
			<key>public.kern2.quotes_curly_left</key>
			<integer>30</integer>
			<key>public.kern2.quotes_curly_right</key>
			<integer>-10</integer>
			<key>public.kern2.s_LC</key>
			<integer>0</integer>
			<key>public.kern2.t_LC</key>
			<integer>0</integer>
			<key>public.kern2.u_LC</key>
			<integer>0</integer>
			<key>public.kern2.w_LC</key>
			<integer>0</integer>
		</dict>
		<key>space</key>
		<dict>
			<key>public.kern2.T_UC</key>
			<integer>0</integer>
		</dict>
	</dict>
</plist>
